:root {
    --dark-gray: #474952;
    --white: #fff;
    --purple: #a175c8; 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-gray);
}

.nav-bar {
    background-color: var(--purple);
    width: 100%;
    padding: 10px;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.nav-elements h1 {
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 70px;
}

.nav-elements a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.left-headers {
    float: left;
    position: fixed;
    clear: both;
    width: 80%;
    margin: 20px;
}

.right-content {
    float: right;
    width: 80%;
}

.about-me, .contact-me, .work {
    clear: right;
}

#about-me {
    margin-bottom: 40px;
    margin-top: 20px;
    color: var(--white);
    font-size: 30px;
}