:root {
    --dark-gray: #3b3d46;
    --white: #fff;
    --purple: #9263ba; 
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-gray);
}

.nav-bar {
    background-color: var(--purple);
    width: 100%;
    padding: 10px;
}

.nav-elements {
    display: flex;
    margin: 20px;
}

.nav-elements h1 {
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: auto;
    margin-top: 10px;
}

.nav-elements a {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: capitalize;
    margin: 25px;
    border-bottom: 2px solid var(--white);
}

.section {
    display: flex;
    align-items: fle;
}

.section-header, .section-content {
    flex: 1;
    margin: 20px;
    padding: 20px;
    line-height: 2;
}

.section-header {
    margin: 0;
    position: relative;
}

.section h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.section-content {
    font-size: 20px;
    color: var(--white);
    flex: 3;
    padding-left: 40px;

}

.section-content .work1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.work1 img {
    width: 700px;
    border: 4px solid var(--purple);
    display: block;
}

#hover-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white);
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /*I use this ease-in-out transition to make the hover text more appealing*/
}

.work1:hover #hover-text{
    visibility: visible;
    opacity: 1;
}

.random img {
    width: 40%;
    display: inline;
    justify-content: space-between;
    border: 4px solid var(--purple);
}

.section-content #contact-me {
    display: flex;
    justify-content: space-evenly;
}

#contact-me a {
    text-decoration: none;
    color: var(--white);
    border-bottom: 3px solid var(--white);
    font-size: 22px;
    margin-right: 30px;
}

.section-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 4px;
    height: 100%;
    background-color: var(--purple);
}

.section-header {
    color: var(--white);
    font-size: 22px;
}

@media only screen and (max-width: 600px) {

    .nav-elements {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-elements h1 {
        margin-bottom: 5px;
        font-size: 32px;
    }

    .nav-elements a {
        margin: 8px 0;
        font-size: 16px;
    }

    .section {
        flex-direction: column;
    }

    .section-header, .section-content {
        margin: 10px 0;
        padding: 15px;
    }

    .section h2 {
        font-size: 26px; 
    }

    .section-content {
        padding-left: 10px;
    }

    .work1 img, .random img {
        width: 95%;
        margin: 10px auto;
    }

    #contact-me a {
        display: block;
        margin: 8px 0;
        font-size: 20px;
        text-align: center;
    }

    .section-header::before {
        display: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .nav-elements {
        justify-content: space-around;
    }

    .nav-elements h1 {
        font-size: 36px;
    }

    .nav-elements a {
        font-size: 20px;
        margin: 20px;
    }

    .section {
        flex-direction: column;
    }

    .section-header, .section-content {
        margin: 15px 0;
        padding: 20px;
    }

    .section h2 {
        font-size: 28px;
    }

    .work img {
        width: 85%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    #contact-me a {
        display: block;
        margin: 10px 0;
        font-size: 21px;
        text-align: center;
    }

    .section-header::before {
        visibility: hidden;
    }
}
